<div class="mainWrapper scrollable">		
	
	<!-- HEADER -->
	<header>
		<div class="container">
			
			<!-- Main navigation -->
			<ul class="nav">
				<li class="home">
					<a href="index.html">
						<img src="img/brand/crossover.png" alt="Malboro - Cross|Over" />
					</a>
				</li>
				<li>
					<a href="index.html" data-i18n="header.links.home"></a>
				</li>
				<li>
					<a href="map.html" data-i18n="header.links.map"></a>
				</li>
				<li>
					<a href="gifts.html" data-i18n="header.links.gifts"></a>
				</li>
				<li class="active">
					<a href="events.html" data-i18n="header.links.events"></a>
				</li>
				<li>
					<a href="howTo.html" data-i18n="header.links.howTo"></a>
				</li>
				<!-- activities links call a new panel of menu: Cfr below sub-menu .activities  -->
				<li class="sliderActivities">
					<a href="#" data-i18n="header.links.activities"></a>
				</li>

				<!-- data user + Call modal Profile-->
				<li class="navProfile">
					<ul>
						<!-- open modal Profile + add focus on input addCode -->
						<li class="addCode">
							<p data-i18n="[html]dataUser.collected"></p>
							<p><a href="#" class="addCodeTo" data-i18n="header.addCode"></a></p>				
						</li>
						<!-- open modal Profile  -->
						<li class="profileBtn">
							<a href="#" data-toggle="modal" data-target="#myProfileInfo">
								<span class="border">
									<img src="img/profile/user.png" alt"user name" />
								</span>
								<span class="arrowDown"></span>
							</a>
						</li>
					</ul>
				</li>
			</ul>	
			
		</div>

		<!-- sub-menu: display a slider with all the activities -->
		<div class="activities">
			<div class="slider">
				<div class="checked">
					<a href="exp1.html">
						<div class="illu">
							<img data-i18n="[src]california.exp1.activitiesNavImg" />
						</div>
						<div>
							<span class="icon exp1"></span>
							<h4 data-i18n="california.exp1.name"></h4>
							<span class="location"><span data-i18n="california.surname"></span> / <span data-i18n="california.location"></span></span>
						</div>
					</a>
				</div>
				<div class="checked">
					<a href="exp2.html">
						<div class="illu">
							<img data-i18n="[src]california.exp2.activitiesNavImg" />
						</div>
						<div>
							<span class="icon exp2"></span>
							<h4 data-i18n="california.exp2.name"></h4>
							<span class="location"><span data-i18n="california.surname"></span> / <span data-i18n="california.location"></span></span>
						</div>
					</a>
				</div>
				<div>
					<a href="exp3.html">
						<div class="illu">
							<img data-i18n="[src]california.exp3.activitiesNavImg" />
						</div>
						<div>
							<span class="icon exp3"></span>
							<h4 data-i18n="california.exp3.name"></h4>
							<span class="location"><span data-i18n="california.surname"></span> / <span data-i18n="california.location"></span></span>
						</div>
					</a>
				</div>
				<div class="locked">
					<a href="exp4.html">
						<div class="illu">
							<img data-i18n="[src]alaska.exp4.activitiesNavImg" />
						</div>
						<div>
							<span class="icon exp4"></span>
							<h4 data-i18n="alaska.exp4.name"></h4>
							<span class="location"><span data-i18n="alaska.surname"></span> / <span data-i18n="alaska.location"></span></span>
						</div>
					</a>
				</div>
				<div class="locked">
					<a href="exp5.html">
						<div class="illu">
							<img data-i18n="[src]alaska.exp5.activitiesNavImg" />
						</div>
						<div>
							<span class="icon exp5"></span>
							<h4 data-i18n="alaska.exp5.name"></h4>
							<span class="location"><span data-i18n="alaska.surname"></span> / <span data-i18n="alaska.location"></span></span>
						</div>
					</a>
				</div>
				<div class="locked">
					<a href="exp6.html">
						<div class="illu">
							<img data-i18n="[src]alaska.exp6.activitiesNavImg" />
						</div>
						<div>
							<span class="icon exp6"></span>
							<h4 data-i18n="alaska.exp6.name"></h4>
							<span class="location"><span data-i18n="alaska.surname"></span> / <span data-i18n="alaska.location"></span></span>
						</div>
					</a>
				</div>
				<div class="locked">
					<a href="exp7.html">
						<div class="illu">
							<img data-i18n="[src]canada.exp7.activitiesNavImg" />
						</div>
						<div>
							<span class="icon exp7"></span>
							<h4 data-i18n="canada.exp7.name"></h4>
							<span class="location"><span data-i18n="canada.surname"></span> / <span data-i18n="canada.country"></span></span>
						</div>
					</a>
				</div>
				<div class="locked">
					<a href="exp8.html">
						<div class="illu">
							<img data-i18n="[src]canada.exp8.activitiesNavImg" />
						</div>
						<div>
							<span class="icon exp8"></span>
							<h4 data-i18n="canada.exp8.name"></h4>
							<span class="location"><span data-i18n="canada.surname"></span> / <span data-i18n="canada.country"></span></span>
						</div>
					</a>
				</div>
				<div class="locked">
					<a href="exp9.html">
						<div class="illu">
							<img data-i18n="[src]canada.exp9.activitiesNavImg" />
						</div>
						<div>
							<span class="icon exp9"></span>
							<h4 data-i18n="canada.exp9.name"></h4>
							<span class="location"><span data-i18n="canada.surname"></span> / <span data-i18n="canada.country"></span></span>
						</div>
					</a>
				</div>
			</div>
		</div>
		
	</header>
	<section class="section calendar">
	
		<div class="titleBar">
			<div class="subtitle">
				<div class="inner">
					<p data-i18n="[html]events.subtitle"></p>	
				</div>					
			</div><div class="title">
				<h2 data-i18n="[html]events.title"></h2>
			</div>
		</div>
		
		<div class="container">
			<div class="col-md-12 eventTabs">
				<button class="prev" data-i18n="events.prev"></button>
				<ul>
				</ul>
				<button class="next" data-i18n="events.next"></button>
			</div>

			<div class="col-md-6 col-sm-12 eventDetails">
				<div class="col-md-6 col-sm-12">
					<div class="date">
						<p data-i18n="[html]events.list.0.dateCopy"></p>
					</div>

					<div class="name">
						<b data-i18n="events.list.0.name"></b>
						<p data-i18n="events.list.0.place"></p>
					</div>	

					<p data-i18n="[html]events.list.0.description"></p>
					<p data-i18n="[html]events.list.0.description"></p>
					<p data-i18n="[html]events.list.0.description"></p>
				</div>

				<div class="col-md-6 col-sm-12">
					<div class="kmWin">
						<div class="data" data-i18n="[html]events.list.0.kmWin"></div>					
						<small data-i18n="[html]events.list.0.kmCredit"></small>
					</div>

					<div class="where">
						<p data-i18n="[html]events.where"></p>
						<a href="" target="_blank" data-i18n="events.list.0.situation;[href]events.list.0.situationURL"></a>
					</div>
					
					<div class="when">
						<p data-i18n="events.when"></p>
						<p>
							<span data-i18n="events.list.0.begin"></span>
							<span data-i18n="events.list.0.end"></span>							
						</p>				
					</div>
					
					<button data-i18n="events.btn" data-toggle="modal" data-target="#invitToEvent"></button>	
				</div>		
			</div>

			<!-- Start Calendar Plugin -->		
			<div class="col-md-6 col-sm-12 datePicker">
				
				<input type="text" id="inputHi" gldp-id="mydate" value=""/>
			    <div gldp-el="mydate" id="testee" style="width:400px; height:300px; position:relative;">
			    </div>
			</div>
			<!-- End Calendar Plugin -->
		</div>
		

	</section>
	<!-- FOOTER -->
	<footer>

		<div class="navFooter">                

	        <!-- BOTTOMBAR -->
	        <nav class="bottombar clearfix">

	            <ul class="user">
	                <li><a href="#" data-i18n="footer.logout"></a></li>
	            </ul>

	            <ul class="nav">
	                <li><a href="#" data-i18n="footer.account"></a></li>
	                <li><a href="legal.html" target="_blank" data-i18n="footer.terms"></a></li>
	                <li><a href="#" data-i18n="footer.contact"></a></li>
	                <li><a href="#" data-i18n="footer.faq"></a></li>
	                <li><a href="#" data-i18n="footer.health"></a></li>
	                <li class="invite_friend"><a href="#" data-i18n="footer.invite"></a></li>
	            </ul>                

	        </nav>
	        <!-- /BOTTOMBAR -->
	    </div>

		<div class="container-fluid health_warning">
	        <div class="row">
	            <div class="col-md-12">
	                <p>
	                    <img src="img/footer/health_warning.jpg" alt="Rauchen ist tödlich. Fumer tue. Il fumo uccide.">
	                </p>
	            </div>
	        </div>
	    </div>
		
	</footer>

	<!-- MODAL NAV PROFILE -->
	<div class="modal fade profile" id="myProfileInfo">
		<div class="modal-dialog">
		    <div class="modal-content">
			    <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			    </div>
			    <div class="modal-body">
			      	<div class="inputAddCode">
			      		<form action="">
			      			<!-- input text to add code -->
			      			<div class="inputContainer">		      			
				      			<input type="text" name="personalCode" placeholder="Your code here" value="Your code here" maxlength="8" >		      	
				      			<button type="submit" disabled></button>		
				      		</div>	      		
			
							<!-- message to display if ...  -->
							<div class="notifMsg">
								<!-- the code is correct -->
								<div class="congrats">
									<span data-i18n="modalProfile.validCode"></span> 
								<strong data-i18n="modalProfile.validCodeStrong"></strong>
								</div>
								<!-- the code is wrong -->
								<div class="error">
									<span data-i18n="modalProfile.wrongCode"></span> 
									<strong data-i18n="modalProfile.wrongCodeStrong"></strong>
								</div>
							</div>
			      		</form>	
			      	</div><!-- end .inputAddCode-->

			      	<!-- data user (KM) -->
			        <div class="dataKm">
			        	<div class="col-md-6 col-sm-6">
			        		<span data-i18n="[html]dataUser.collected"></span>
			        		<p data-i18n="modalProfile.counterCollect"></p>
			        	</div>
			        	<div class="col-md-6 col-sm-6">
			        		<span data-i18n="[html]dataUser.credit"></span>
			        		<p data-i18n="modalProfile.counterCredit"></p>
			        	</div>
			        	<div class="clearfix"></div>
			        </div>
					
					<!-- list Link -->
			        <ul class="listLink">
			        	<li><a href="" data-i18n="[html]modalProfile.history"></a></li>
			        	<li><a href="" data-i18n="[html]modalProfile.gifts"></a></li>
			        </ul>

			    </div>
			    <div class="modal-footer">
			      	<a href="profile.html" class="btn arrowed" data-i18n="modalProfile.goProfile"></a>
			    </div>
		    </div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->

	<!-- MODAL EVENTS -->
	<div class="modal fade default confirmEvent" id="invitToEvent">
	    <div class="modal-dialog modal-sm">
	      <div class="modal-content">
	          <div class="modal-header">
	              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	          </div>         
	          <div class="modal-body">
	            <div class="inner">
	                <h4 class="modal-title">
	                  <span data-i18n="events.modal.0.thanks"></span>
	                  <Strong data-i18n="events.modal.0.you"></Strong>
	                </h4>
	                <p class="subtitle" data-i18n="[html]events.modal.0.receiveMail"></p>
	                <p>
	                  <span data-i18n="events.modal.0.txt"></span>
	                  <strong>
	                    <span data-i18n="[html]events.list.0.dateCopy"></span> / 
	                    <span data-i18n="events.list.0.name"></span> / 
	                    <span data-i18n="events.list.0.place"></span>.
	                  </strong>
	                </p>

	                <button type="button" class="btn" data-dismiss="modal" data-i18n="events.modal.0.button"></button>
	                <a href="http://www.google.com/calendar/event?action=TEMPLATE&text=Example%20event%20&dates=20150217T190000Z/20150217T200000Z&details=Lorem%20ipsum%20dolor%20sit%20amet%20consectetur%20adipiscing%20elit%0A%0ADonec%20hendrerit%20diam%20tellus%20non%20condimentum%20dui%20maximus%20consequat%2F&location=lausanne&trp=false&sprop=http%3A%2F%2Fendzonerealty.com%2F&sprop=name:EndZoneRealty.com" target="_blank" data-i18n="events.modal.0.SyncAgenda"></a>
	            </div>
	                
	          </div>
	      </div><!-- /.modal-content -->      
	    </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->

</div><!-- /.mainWrapper -->