<div class="mainWrapper">		
	
	<!-- HEADER -->
	<header>
		<div class="container">
			
			<!-- Main navigation -->
			<ul class="nav">
				<li class="home">
					<a href="index.html">
						<img src="img/brand/crossover.png" alt="Malboro - Cross|Over" />
					</a>
				</li>
				<li class="active">
					<a href="index.html" data-i18n="header.links.home"></a>
				</li>
				<li>
					<a href="map.html" data-i18n="header.links.map"></a>
				</li>
				<li>
					<a href="gifts.html" data-i18n="header.links.gifts"></a>
				</li>
				<li>
					<a href="events.html" data-i18n="header.links.events"></a>
				</li>
				<li>
					<a href="howTo.html" data-i18n="header.links.howTo"></a>
				</li>
				<!-- activities links call a new panel of menu: Cfr below sub-menu .activities  -->
				<li class="sliderActivities">
					<a href="#" data-i18n="header.links.activities"></a>
				</li>

				<!-- data user + Call modal Profile-->
				<li class="navProfile">
					<ul>
						<!-- open modal Profile + add focus on input addCode -->
						<li class="addCode">
							<p data-i18n="[html]dataUser.collected"></p>
							<p><a href="#" class="addCodeTo" data-i18n="header.addCode"></a></p>				
						</li>
						<!-- open modal Profile  -->
						<li class="profileBtn">
							<a href="#" data-toggle="modal" data-target="#myProfileInfo">
								<span class="border">
									<img src="img/profile/user.png" alt"user name" />
								</span>
								<span class="arrowDown"></span>
							</a>
						</li>
					</ul>
				</li>
			</ul>	
			
		</div>

		<!-- sub-menu: display a slider with all the activities -->
		<div class="activities">
			<div class="slider">
				<div class="checked">
					<a href="exp1.html">
						<div class="illu">
							<img data-i18n="[src]california.exp1.activitiesNavImg" />
						</div>
						<div>
							<span class="icon exp1"></span>
							<h4 data-i18n="california.exp1.name"></h4>
							<span class="location"><span data-i18n="california.surname"></span> / <span data-i18n="california.location"></span></span>
						</div>
					</a>
				</div>
				<div class="checked">
					<a href="exp2.html">
						<div class="illu">
							<img data-i18n="[src]california.exp2.activitiesNavImg" />
						</div>
						<div>
							<span class="icon exp2"></span>
							<h4 data-i18n="california.exp2.name"></h4>
							<span class="location"><span data-i18n="california.surname"></span> / <span data-i18n="california.location"></span></span>
						</div>
					</a>
				</div>
				<div>
					<a href="exp3.html">
						<div class="illu">
							<img data-i18n="[src]california.exp3.activitiesNavImg" />
						</div>
						<div>
							<span class="icon exp3"></span>
							<h4 data-i18n="california.exp3.name"></h4>
							<span class="location"><span data-i18n="california.surname"></span> / <span data-i18n="california.location"></span></span>
						</div>
					</a>
				</div>
				<div class="locked">
					<a href="exp4.html">
						<div class="illu">
							<img data-i18n="[src]alaska.exp4.activitiesNavImg" />
						</div>
						<div>
							<span class="icon exp4"></span>
							<h4 data-i18n="alaska.exp4.name"></h4>
							<span class="location"><span data-i18n="alaska.surname"></span> / <span data-i18n="alaska.location"></span></span>
						</div>
					</a>
				</div>
				<div class="locked">
					<a href="exp5.html">
						<div class="illu">
							<img data-i18n="[src]alaska.exp5.activitiesNavImg" />
						</div>
						<div>
							<span class="icon exp5"></span>
							<h4 data-i18n="alaska.exp5.name"></h4>
							<span class="location"><span data-i18n="alaska.surname"></span> / <span data-i18n="alaska.location"></span></span>
						</div>
					</a>
				</div>
				<div class="locked">
					<a href="exp6.html">
						<div class="illu">
							<img data-i18n="[src]alaska.exp6.activitiesNavImg" />
						</div>
						<div>
							<span class="icon exp6"></span>
							<h4 data-i18n="alaska.exp6.name"></h4>
							<span class="location"><span data-i18n="alaska.surname"></span> / <span data-i18n="alaska.location"></span></span>
						</div>
					</a>
				</div>
				<div class="locked">
					<a href="exp7.html">
						<div class="illu">
							<img data-i18n="[src]canada.exp7.activitiesNavImg" />
						</div>
						<div>
							<span class="icon exp7"></span>
							<h4 data-i18n="canada.exp7.name"></h4>
							<span class="location"><span data-i18n="canada.surname"></span> / <span data-i18n="canada.country"></span></span>
						</div>
					</a>
				</div>
				<div class="locked">
					<a href="exp8.html">
						<div class="illu">
							<img data-i18n="[src]canada.exp8.activitiesNavImg" />
						</div>
						<div>
							<span class="icon exp8"></span>
							<h4 data-i18n="canada.exp8.name"></h4>
							<span class="location"><span data-i18n="canada.surname"></span> / <span data-i18n="canada.country"></span></span>
						</div>
					</a>
				</div>
				<div class="locked">
					<a href="exp9.html">
						<div class="illu">
							<img data-i18n="[src]canada.exp9.activitiesNavImg" />
						</div>
						<div>
							<span class="icon exp9"></span>
							<h4 data-i18n="canada.exp9.name"></h4>
							<span class="location"><span data-i18n="canada.surname"></span> / <span data-i18n="canada.country"></span></span>
						</div>
					</a>
				</div>
			</div>
		</div>
		
	</header>
	
	<!-- CONTENT -->
	<div class="homePage">
		<div class="section" id="home_banner" style="background-image:url(img/_california/home_banner.jpg)">

			<h1 data-i18n="title"></h1>

			<!-- Introduction -->
			<div class="intro">
				<h2>
					<span data-i18n="home.subtitle"></span>
					<strong data-i18n="home.headline"></strong>
				</h2>
				<div class="toTrailer" data-i18n="[html]home.trailer" data-video="trailer/trailer"></div>

				<a href="exp1.html" data-i18n="home.start"></a>						
			</div>

			<!-- Links to bottom -->
			<div class="linkTo row">
				<a href="#" data-i18n="[href]home.link3.href">
					<b data-i18n="[html]home.link3.title"></b>
					<span class="subtitle" data-i18n="home.link3.subtitle"></span>
				</a>
				<a href="#" data-i18n="[href]home.link4.href">
					<b data-i18n="[html]home.link4.title"></b>
					<span class="subtitle" data-i18n="home.link4.subtitle"></span>
				</a>
			</div>

			<div class="imgLegend">
				<span class="lineTop"></span>
				<b data-i18n="california.surname" data-random="imgLegend"></b>
				<span data-i18n="california.location" data-random="imgLegend"></span> 
				/ <span data-i18n="california.country" data-random="imgLegend"></span>
			</div>
		</div>
	</div>

	<!-- MODAL NAV PROFILE -->
	<div class="modal fade profile" id="myProfileInfo">
		<div class="modal-dialog">
		    <div class="modal-content">
			    <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			    </div>
			    <div class="modal-body">
			      	<div class="inputAddCode">
			      		<form action="">
			      			<!-- input text to add code -->
			      			<div class="inputContainer">		      			
				      			<input type="text" name="personalCode" placeholder="Your code here" value="Your code here" maxlength="8" >		      	
				      			<button type="submit" disabled></button>		
				      		</div>	      		
			
							<!-- message to display if ...  -->
							<div class="notifMsg">
								<!-- the code is correct -->
								<div class="congrats">
									<span data-i18n="modalProfile.validCode"></span> 
								<strong data-i18n="modalProfile.validCodeStrong"></strong>
								</div>
								<!-- the code is wrong -->
								<div class="error">
									<span data-i18n="modalProfile.wrongCode"></span> 
									<strong data-i18n="modalProfile.wrongCodeStrong"></strong>
								</div>
							</div>
			      		</form>	
			      	</div><!-- end .inputAddCode-->

			      	<!-- data user (KM) -->
			        <div class="dataKm">
			        	<div class="col-md-6 col-sm-6">
			        		<span data-i18n="[html]dataUser.collected"></span>
			        		<p data-i18n="modalProfile.counterCollect"></p>
			        	</div>
			        	<div class="col-md-6 col-sm-6">
			        		<span data-i18n="[html]dataUser.credit"></span>
			        		<p data-i18n="modalProfile.counterCredit"></p>
			        	</div>
			        	<div class="clearfix"></div>
			        </div>
					
					<!-- list Link -->
			        <ul class="listLink">
			        	<li><a href="" data-i18n="[html]modalProfile.history"></a></li>
			        	<li><a href="" data-i18n="[html]modalProfile.gifts"></a></li>
			        </ul>

			    </div>
			    <div class="modal-footer">
			      	<a href="profile.html" class="btn arrowed" data-i18n="modalProfile.goProfile"></a>
			    </div>
		    </div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->

	<!-- FOOTER -->
	<footer>

		<div class="navFooter">                

	        <!-- BOTTOMBAR -->
	        <nav class="bottombar clearfix">

	            <ul class="user">
	                <li><a href="#" data-i18n="footer.logout"></a></li>
	            </ul>

	            <ul class="nav">
	                <li><a href="#" data-i18n="footer.account"></a></li>
	                <li><a href="legal.html" target="_blank" data-i18n="footer.terms"></a></li>
	                <li><a href="#" data-i18n="footer.contact"></a></li>
	                <li><a href="#" data-i18n="footer.faq"></a></li>
	                <li><a href="#" data-i18n="footer.health"></a></li>
	                <li class="invite_friend"><a href="#" data-i18n="footer.invite"></a></li>
	            </ul>                

	        </nav>
	        <!-- /BOTTOMBAR -->
	    </div>

		<div class="container-fluid health_warning">
	        <div class="row">
	            <div class="col-md-12">
	                <p>
	                    <img src="img/footer/health_warning.jpg" alt="Rauchen ist tödlich. Fumer tue. Il fumo uccide.">
	                </p>
	            </div>
	        </div>
	    </div>
		
	</footer>	

	<!-- MODAL VIDEO -->
	<div class="modal fade modal_video" id="modalVideo" >
		<div class="modal-dialog modal-lg">
		    <div class="modal-content">
			    <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>		       
			    </div>
		      	<div class="modal-body video">

					<img src="" alt="" class="ratio poster">

					<div id="jp_container_1" class="jp-video" role="application" aria-label="media player">
						<div class="jp-type-single">
							<div id="js-video" class="jp-jplayer" ></div>
							<div class="jp-gui">
								<div class="jp-video-play">
									<button class="jp-video-play-icon" role="button" tabindex="0">play</button>
								</div>
								<div class="jp-interface">
									<div class="jp-progress">
										<div class="jp-seek-bar">
											<div class="jp-play-bar"></div>
										</div>
									</div>
									<div class="jp-current-time" role="timer" aria-label="time">&nbsp;</div>
									<div class="jp-duration" role="timer" aria-label="duration">&nbsp;</div>
									<div class="jp-controls-holder">
										<div class="jp-controls">
											<button class="jp-play" role="button" tabindex="0">play</button>
											<button class="jp-stop" role="button" tabindex="0">stop</button>
										</div>
										<div class="jp-volume-controls">
											<button class="jp-mute" role="button" tabindex="0">mute</button>
											<button class="jp-volume-max" role="button" tabindex="0">max volume</button>
											<div class="jp-volume-bar">
												<div class="jp-volume-bar-value"></div>
											</div>
										</div>
										<div class="jp-toggles">
											<button class="jp-repeat" role="button" tabindex="0">repeat</button>
											<button class="jp-full-screen" role="button" tabindex="0">full screen</button>
										</div>
									</div>
									<div class="jp-details">
										<div class="jp-title" aria-label="title">&nbsp;</div>
									</div>
								</div>
							</div>
							<div class="jp-no-solution">
								<span>Update Required</span>
								To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.
							</div>
						</div>
					</div>
				</div>	      
		    </div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->

</div>