
@font-face {
  font-family: 'MaybeBold';
  src: url('Maybe-Bold.eot?#iefix') format('embedded-opentype'),  url('Maybe-Bold.woff') format('woff'), url('Maybe-Bold.ttf')  format('truetype'), url('Maybe-Bold.svg#Maybe-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
