<section class="section detailActivity threeCol">
	<div class="pageName text">
		<span data-i18n="activities.explore.pageNameLeft"></span>
		<span class="icon"></span>
		<span data-i18n="canada.exp7.actA.name"></span>
	</div>

	<div class="explorations">

		<!-- slider with detail about activities -->
		<div class="exploration">
			<div class="header" style="background-image: url(img/_canada/exp7/actA/explore1_m.jpg)">
				<h3 data-i18n="[html]canada.exp7.actA.explorations.0.title"></h3>
				<button data-mvideo="interview"><span></span><span data-i18n="[html]activities.explore.video"></span></button>
			</div>
			<div class="content">
				<!-- button to call a video -->
				<span class="subtitle" data-i18n="[html]canada.exp7.actA.explorations.0.introCopy"></span>
				<div data-i18n="[html]canada.exp7.actA.explorations.0.bodyCopy"></div>
			</div>
			<div class="mobileVideo trailer" id="interview">
				<video controls>
					<source src="videos/_canada/exp7/actA/interview.mp4" type="video/mp4" />
					<source src="videos/_canada/exp7/actA/interview.ogv" type="video/ogg" />
					<source src="videos/_canada/exp7/actA/interview.webm" type="video/webm" />
				</video>
				<button type="button" class="close">
					<span>×</span>
				</button>
			</div>
		</div>

		<div class="exploration">
			<div class="header" style="background-image: url(img/_canada/exp7/actA/explore2_m.jpg)">
				<h3 data-i18n="[html]canada.exp7.actA.explorations.1.title"></h3>
			</div>
			<div class="content">
				<span class="subtitle" data-i18n="[html]canada.exp7.actA.explorations.1.introCopy"></span>
				<div data-i18n="[html]canada.exp7.actA.explorations.1.bodyCopy"></div>
			</div>
		</div>

		<div class="exploration">
			<div class="header" style="background-image: url(img/_canada/exp7/actA/explore3_m.jpg)">
				<h3 data-i18n="[html]canada.exp7.actA.explorations.2.title"></h3>
			</div>
			<div class="content">
				<span class="subtitle" data-i18n="[html]canada.exp7.actA.explorations.2.introCopy"></span>
				<div data-i18n="[html]canada.exp7.actA.explorations.2.bodyCopy"></div>
			</div>
		</div>

	</div>

</section>