<!-- WIN GIFTS -->
<section class="section gifts topGifts fullscreen">
	<div class="pageName">
		<span class="icon"></span>
	</div>
	<h3>
		<span>
			<strong data-i18n="activities.gifts.title"></strong>
			<span data-i18n="activities.gifts.subtitle"></span>
		</span>
	</h3>
	<!-- TOP 3 with the gifts -->
	<div class="home_gifts trianglesArrows">
		<div class="gift active">
			<div class="picture">
				<img data-i18n="[src]gifts.goPro.url" alt="Go Pro" />
			</div>
			<div class="infos">
				<p class="name"><span data-i18n="gifts.goPro.name"></span><span class="km">/ <span data-i18n="gifts.goPro.price"></span>  <i data-i18n="dataUser.km"></i></span></p>
				<a href="gifts.html" data-i18n="gifts.link"></a>
			</div>
		</div>
		<div class="gift">
			<div class="picture">
				<img data-i18n="[src]gifts.vtt.url" alt="Go Pro" />
			</div>
			<div class="infos">
				<p class="name"><span data-i18n="gifts.vtt.name"></span><span class="km">/ <span data-i18n="gifts.vtt.price"></span>  <i data-i18n="dataUser.km"></i></span></p>
				<a href="gifts.html" data-i18n="gifts.link"></a>
			</div>
		</div>
		<div class="gift">
			<div class="picture">
				<img data-i18n="[src]gifts.hat.url" alt="Go Pro" />
			</div>
			<div class="infos">
				<p class="name"><span data-i18n="gifts.hat.name"></span><span class="km">/ <span data-i18n="gifts.hat.price"></span>  <i data-i18n="dataUser.km"></i></span></p>
				<a href="gifts.html" data-i18n="gifts.link"></a>
			</div>
		</div>
	</div>				
</section>

<!-- LINK GO TO THE NEXT EXPERIENCE -->
<section class="goFurther row">
	<a href="exp5.html"class="GoNextExperience">
		<b>
			<span data-i18n="[html]activities.gifts.linkNextActivities"></span>
			<span data-i18n="alaska.exp5.splash.pictureLocation"></span>
		</b>
		<span>
			<i data-i18n="alaska.exp5.actA.name"></i> & <i data-i18n="alaska.exp5.actB.name"></i>
		</span>
	</a>
</section>