 /*

input[type="file"] {	
	width: 6.3em \0/IE9;
	height: 1.5em;
	margin: 5px;
}

input[multiple] {
	width: 6.2em \0/IE9;
}

*/

.sel-file {
	padding: 1px 5px;
	font-size: smaller;
	color: grey;
}

.response {
	padding-top: 30px;
}

.response>ul {
	list-style-type: decimal;
}

.response li, .response .reqh {
	color: blue;
	font-size: smaller;
	padding-bottom: 5px; 
}

.progress {
	display: inline-block; 
	width: 100px;	
	border: 3px groove #CCC;
}

.progress div {
	font-size: smaller;
	background: #38ee8e;
	width: 0;
}
 

/* for IE*/
.js-fileapi-wrapper {
	display: inline-block;
	vertical-align: middle;	
}

button {
	padding: 1px 5px;
	font-size: smaller;
	margin: 0 3px; 
}

.ng-v {
	float: right;
}


.sel-file img {
	float: left;
	max-width:100px;
	max-height: 100px;
	padding-right: 10px;
}
 

.sub {
	font-size: smaller;
	color: #7b7b7c;
	padding-top: 5px;
	padding-left: 10px;
}