<!-- PLAY THE GAME -->
<section class="section teaserGame fullscreen">
	<div class="background" style="background-image:url(img/_california/exp1/game_m.jpg)"></div>
	
	<div class="pageName">
		<span class="icon"></span>
	</div>

	<div class="title">	
		<span class="ico"></span>
		<div class="stroked" data-i18n="activities.game.subtitle"></div>

		<h3><span data-i18n="[html]california.exp1.game.title"></span></h3>

		<p>
			<span data-i18n="[html]california.exp1.game.text"></span>
		</p>

		<button data-i18n="activities.game.playBtn"></button>
		<button data-i18n="activities.game.howToBtn" class="howTo"></button>
	</div>

	<div class="canvasGame">
		<span class="close"></span>
		<div id="grab-game" class="game"></div>
	</div>

	<div class="howToGame">
		<span class="close" data-i18n="profile.btn.close"></span>
		<h2 data-i18n="activities.game.howToBtn">How to play ?</h2>
		<p data-i18n="alaska.exp4.game.howToPlay"></p>
		<button class="btn" data-i18n="activities.game.playBtn"></button>
	</div>
	
	<div class="pageName next text">
		<a href="#gifts">
			<span data-i18n="activities.game.pageNameNextLeft"></span>
			<span class="icon"></span>
			<span data-i18n="activities.game.pageNameNextRight"></span>
		</a>
	</div>

</section>