<!-- PLAY THE GAME -->
<section class="section teaserGame fullscreen">
	<div class="background" style="background-image:url(img/_canada/exp7/game.jpg)"></div>
	
	<div class="pageName">
		<span class="icon"></span>
	</div>

	<div class="title">	
		<span class="ico"></span>
		<div class="stroked" data-i18n="activities.game.subtitle"></div>

		<h3><span data-i18n="[html]canada.exp7.game.title"></span></h3>

		<p>
			<span data-i18n="[html]canada.exp7.game.text"></span>
		</p>

		<button data-i18n="activities.game.playBtn" data-game="snowmobile"></button>
		<button data-i18n="activities.game.howToBtn" class="howTo"></button>
	</div>
	
	<div class="howToGame">
		<span class="close" data-i18n="profile.btn.close"></span>
		<h2 data-i18n="activities.game.howToBtn">How to play ?</h2>
		<p data-i18n="canada.exp7.game.howToPlay"></p>
		<button class="btn" data-i18n="activities.game.playBtn" data-game="snowmobile"></button>
	</div>

	<div class="canvasGame">
		<span class="close"></span>
		<div id="snowscooter-game" class="game"></div>
	</div>

	<div class="gameoutro">
		<span class="close" data-i18n="profile.btn.close"></span>
		<div class="cover" style="background-image:url(img/_canada/exp7/gameOutro.jpg)"></div>
		<div class="container">
			<h3 class="gameTitle"></h3>
			<div class="stars"></div>
			<div class="kms"><span class="totalPoints"></span><span data-i18n="canada.exp7.game.unit"></span></div>
			<div class="earned">
				<span data-i18n="[html]activities.game.youEarned"></span>
				<span class="grade"></span>
			</div>
			<p class="description" data-i18n="canada.exp7.game.end.description"></p>
			<button class="btn" data-i18n="activities.game.tryAgain"></button>
		</div>
	</div>
	
	<div class="pageName next text">
		<a href="#gifts">
			<span data-i18n="activities.game.pageNameNextLeft"></span>
			<span class="icon"></span>
			<span data-i18n="activities.game.pageNameNextRight"></span>
		</a>
	</div>

</section>