@font-face {
    font-family: 'eurostileregular';
    src: url("fonts/Eurostile-webfont.eot");
    src: url("fonts/Eurostile-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/Eurostile-webfont.woff2") format("woff2"), url("fonts/Eurostile-webfont.woff") format("woff"), url("fonts/Eurostile-webfont.ttf") format("truetype"), url("fonts/Eurostile-webfont.svg#eurostileregular") format("svg");
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'JuraRegular';
    src: url("fonts/jura/Jura-Regular.ttf") format("truetype");
}


@font-face {
    font-family: 'JuraBold';
    src: url("fonts/jura/Jura-DemiBold.ttf") format("truetype");
}


.clear {
    clear: both;
}
.dateField {
    height: 30px;
    border: none;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-indent: 10px;
    font: 14px "eurostileregular";
    width: 197px;
}
.filter-menu {
    width: 100%;
    background-color: #d7dae0;
    padding: 40px 0px;
    padding-left: 40px;
    border-bottom: 2px #d2d5df solid;
    position: relative;
}

.filter-menu ul {
    list-style-type: none;
}

.filter-menu ul li {
    display: inline-block;
    margin-right: 20px;
}

.filter-menu ul li select {
    height: 30px;
    border: none;
    outline: none;
    background: #fff url(../img/arrow.png) center right no-repeat;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-indent: 10px;
    font: 14px "eurostileregular";
}

.select-l {
    width: 197px;
}

.select-s {
    width: 138px;
}

.events-list {
    background: #edeef2;
    margin-top: 3px;
    padding-left: 30px;
    padding-bottom: 15px;
    width: 100%;
    min-height: 594px;
}

.events-list .item {
    width: 50%;
    float: left;
    margin-top: 20px;
    height: 160px;
    margin-bottom: 13px;
    position: relative;
}

.events-list .thumbnails {
    width: 35%;
    text-align: center;
    background: #fff;
    height: 100%;
    padding: 8px;
    float: left;
}

.events-list .item .content {
    width: 65%;
    float: left;
    padding: 10px 15px;
}

.thumbnails img {
    width: 100%;
}

.content h6 {
    font-size: 14px;
    color: #747373;
}

.content p {
    font-family: "eurostileregular";
    font-size: 13px;
}

.content button {
    position: absolute;
    bottom: 0;
    font: 16px "bebas-neue", sans-serif;
    border: none;
    padding: 5px 30px;
    color: #fff;
    background: #ff0323;
}

.content button:hover {
    color: #edeef2;
}

.content button i {
    width: 13px;
    height: 13px;
    background: url(../img/check.png) 0 0 no-repeat;
    position: absolute;
    left: 10px;
    display: none;
}

.content button.active {
    background: #bcbfc4;
}

.content button.active i {
    display: block;
}

.health_warning h1 {
    font-size: 34px;
    font-weight: normal;
    font-family: Arial;
}

@media screen and (max-width: 768px) {
    .health_warning h1 {
        font-size: 30px;
    }
}
