.mainWrapper{
	width: 100%;
	top:84px;


    @media(max-width:1000px){
        top: 70px;
    }

    @media(max-width:767px){
        top: 0px;
    }
}


body{
	background: #777;
    padding: 0;
    width: 100%;

}


p, ul{
    margin: 5px 0 10px;
}

section.main{
	position: relative;
	z-index: 1;
	width: 100%;
}

header{
	width: 100%;
	margin: 0 auto;
	z-index: 300;
    background-color: #fff;
    height: 84px;
    left: 0;
    -webkit-transform: translate(0,0);
    -moz-transform: translate(0,0);
    transform: translate(0,0);

    .activities{
        max-width: 1400px;
        margin: 0 auto;
    }
	.container{
		position: relative;
		max-width: 1400px;
        overflow: visible;
        height: 100%;
        border: none;
	}

	.brand{
		float: left;
		height: 100%;
		overflow: hidden;
		display: table;
		a{
			display: table-cell;
			vertical-align: middle;
            width: 100%;

            img{
                max-width: 100%;
                width: 100%;
            }
		}
	}


	nav.main-nav{
		float: right;
		width: 800px;
        height: 100%;
        background-color: #fff;
        padding-right: 180px;
        margin-right: 10px;
        position: relative;
		&>span{
			float: left;
            height: 100%;
            width: 16.66666%;
	        vertical-align: top;
	        border-left: 1px solid #ebebeb;
			display: table;
            background-color: #fff;
            position: relative;
            z-index: 3;

			a{
				display: table-cell;
				vertical-align: middle;
				text-align: center;
				color:#000;
				font-size: 1.4em;
			}
		}


		 .profile {
            position: absolute;
            right: 1px;
	        display: table-cell;
	        width: 180px;
	        padding: 7px 10px 0 10px;
	        vertical-align: top;
	        border-left: 1px solid #ebebeb;
	         ul li {
				display: table-cell;
				width: auto;
				height: auto;
				vertical-align: middle;
	      	}

	      	.addCode {
				width: 85px;
				padding-right: 10px;
				margin-top: 15px;

				 a {
		            color: #1c1c1c;
		            font-size: 0.85em;
		            text-align: right; display: block;}

		         span.km {
		            color: #db0828;
		            font-size: 1.8em;
		            text-align: right;
		            display: block;

		            i{
		            	font-size: 0.45em;
		            	font-weight: normal;
		            	color: #1c1c1c;
		            }
		        }
		         a {
		            height: auto;
		            border: 0 none;
		            padding: 0;

                    &a:before {
                      display: inline-block;
                          position: relative;
                          height: 12px;
                          width: 12px;
                          background-image: url('../img/icons-se5c7da36c7.png');
                          background-position: 0 -843px;
                          background-repeat: no-repeat;
                          top: 2px;
                          margin-right: 3px;
                    }
                }

      		}
			.profileBtn {
				max-width: 95px;
				margin-top: 0.4vh; }
			.profileBtn a {
				padding: 0;
				height: 60px;
				width: 86px;
				border: 0 none; }
			.profileBtn .border,
			.profileBtn img {
				display: block;
				border-radius: 50%;
				width: 55px;
				height: 55px; }
			.profileBtn .border {
				padding: 2px;
				width: 60px;
				height: 60px;
				border: 1px solid #db0828; }
			@media (max-width: 992px) {
				.profileBtn img {
					width: 45px;
					height: 45px; }
				.profileBtn .border {
					width: 50px;
					height: 50px; } }
				.profileBtn .arrowDown {
					background-image: url('../img/icons-se5c7da36c7.png');
					background-position: 0 -1625px;
					background-repeat: no-repeat; }
				}
	}
    @media(max-width:1100px){
        nav.main-nav{
            width: 730px;
        }
    }

    @media(max-width:1000px){

        & {
            height: 70px;
            nav.main-nav{
                margin-right: 0;
                .profile{
                    padding: 0;
                }
            }
        }
        nav.main-nav{
            width: 75%;
            & > span{
                 font-size: 0.7em;
            }
        }

        .brand{
            width: 25%;
        }
    }

    @media(max-width:767px){
        &.active{
            height: 100%;
            background-color: transparent;
        }
    }

.activities{
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    transform: translateY(-100%);
    &.active{
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        transform: translateY(0);
    }
}

@media(max-width:767px){
    .activities{
        -webkit-transform: translate(100%,0);
        -moz-transform: translate(100%,0);
        transform: translate(100%,0);
        -webkit-transition: transform 800ms;
        -moz-transition: transform 800ms;
        transition: transform 800ms;
        z-index: 11;
        position: absolute;
        top:0;
        height: 85%;
        overflow: auto;
        width: 100%;
        padding: 15px 0;

        .slider{
            padding: 0;
            & > div{
                color: #000;
                height: 60px;
                position: relative;
                border-bottom: solid 1px #999;

                a{
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    padding: 10px;
                    & > div{
                        float: left;
                        height: 100%;
                    }
                }

                &.checked {
                    .illu:after{
                        right: -33px;
                    }

                    .copy{
                        color: #777;
                    }

                    .icon{
                        display: none;
                    }
                }

            }

            .illu{
                width: 23%;
                position: relative;
                img{
                    max-width: 100%;
                    max-height: 100%;
                }
            }

            .copy{
                width: 77%;
                padding-left: 40px;
                padding-top: 5px;
                position: relative;
                .icon{
                    position: absolute;
                    left: 3px;
                    top:10px;
                }
            }
        }
        &.active{
            -webkit-transform: translate(0,0);
            -moz-transform: translate(0,0);
            transform: translate(0,0);
        }
    }
}
.profile-dropdown {
    position: absolute;
    font-family: "Oswald", sans-serif;
    font-weight: 300;
    z-index: 2;
    background: #fff;
    right: 5px;
    top: 105px;
    padding: 30px 20px 20px;
    -webkit-transform: translateY(-130%);
    -moz-transform: translateY(-130%);
    transform: translateY(-130%);
    width: 300px;

    @media(max-width:767px){
        & {
            height: 100%;
            padding: 30px 10px;
        }
    }
    nav{
        a{
            float: left;
        }

        a:first-child{
            width: 70%;
        }
        a:last-child{
            width: 30%;
            background-color: #aaa;
        }
    }
    &.active{
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        transform: translateY(0);
    }

    &:before{
        content: '';
        border: solid 15px transparent;
        position: absolute;
        right: 30px;
        top: -15px;
        border-top: 0;
        border-bottom-color: #fff;
    }

    .x-close {
        font-size: 3em;
        height: 23px;
        line-height: 0;
        padding: 5px;
        position: absolute;
        right: 3px;
        top: 3px;
        cursor: pointer;
    }

    .inputContainer {
        position: relative;
        height: 56px;


        input, button {
            border: 0;
            -webkit-appearance: none;
        }

        button[type=submit].validated:hover {
            background-color: #292929;
        }
        button[type=submit].validated {
            opacity: 1;
            cursor: pointer;
        }
    }

    .inputContainer input[type=text] {
        // background: #db0828;
        background: transparent;
        border: solid 1px #DB0828;
        color: #111;
        font-family: "Oswald", sans-serif;
        font-size: 1.5em;
        text-transform: uppercase;
        padding: 10px 15px;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        height: 56px;
        border-radius: 0;
    }

    .inputContainer ::-webkit-input-placeholder {
        color: #888;
        opacity: 0.5;
        padding-top: 6px;
    }

    .inputContainer :-moz-placeholder {
        /* Firefox 18- */
        color: #888;
        opacity: 0.5;
        padding-top: 6px; }
    .inputContainer ::-moz-placeholder {
        ///* Firefox 19+ */
        color: #888;
        opacity: 0.5;
        padding-top: 6px; }
    .inputContainer :-ms-input-placeholder {
        color: #888;
        opacity: 0.5;
        padding-top: 6px; }
    .inputContainer button[type=submit] {
        display: block;
        text-indent: -9999999;
        background: black;
        height: 56px;
        width: 56px;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 2;
        opacity: .5;
        cursor: auto;

        &:after {
            content: "";
            width: 13px;
            height: 14px;
            background-image: url('../img/icons-se5c7da36c7.png');
            background-position: 0 -422px;
            background-repeat: no-repeat;
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                    transform: translate(-50%, -50%); }
    }



    .inputAddCode{
        .notifMsg {
            font-size: 1.2em;
            text-transform: uppercase;
            position: relative;
            font-family: "bebas-neue", sans-serif;
            display: none;
        }
        .notifMsg span {
            font-family: "Oswald", sans-serif;
            font-size: 0.8em;
        }
        .notifMsg .congrats {
            line-height: 20px;
        }
        .notifMsg .congrats:before {
            content: "";
            width: 19px;
            height: 20px;
            display: inline-block;
            vertical-align: top;
            margin-right: 10px;
            background-image: url('../img/icons-se5c7da36c7.png');
            background-position: 0 -1748px;
            background-repeat: no-repeat;
        }
        .notifMsg .error:before {
            content: "";
            display: inline-block;
            margin-right: 10px;
            width: 12px;
            height: 12px;
            vertical-align: baseline;
            background-image: url('../img/icons-se5c7da36c7.png');
            background-position: 0 -220px;
            background-repeat: no-repeat;
        }
        .notifMsg .congrats, .notifMsg .error {
            margin-top: 5px;
            // display: none;
        }
        .notifMsg .congrats.visible, .inputAddCode .notifMsg .error.visible {
            display: block;
            padding: 15px 0 10px; }
        }

    .dataKm {
        border-bottom: 1px solid #ebebeb;
        padding: 30px 0;

        .stats {
            padding: 0;
            float: left;
            width: 50%;
        }
        .stats span {
            display: block;
            text-align: center;
            font-family: "bebas-neue", sans-serif;
        }
        .stats span strong {
            font-size: 4em;
        }
        .stats p {
            font-size: 0.7em;
            text-transform: uppercase;
            text-align: center;
        }

        .stats:first-child:after {
            content: "";
            display: block;
            height: 25%;
            width: 1px;
            background: #ebebeb;
            position: absolute;
            top: 55%;
            right: 0;
        }
    }

    nav a.btn{
        padding: 8px;
        font-size: 13px;
    }

    .listLink {
        font-size: 0.875em;
        margin: 10px 0;

        li {
            display: block;
            padding: 10px 0;
            float: none;
        }

        a {
            color: #1c1c1c;
            font-family: "Oswald", sans-serif;
            text-transform: uppercase;
            font-weight: 300;
            font-size: 1.3em;
        }
        a strong {
            font-family: "bebas-neue", sans-serif;
            font-size: 1.15em;
        }
        a:after {
        content: "";
            display: inline-block;
            height: 16px;
            width: 13px;
            position: relative;
            margin-left: 10px;
            background-image: url('../img/icons-se5c7da36c7.png');
            background-position: 0 -1263px;
            background-repeat: no-repeat;
        }
    }

    .videoRoad {
        display: block;
        margin-bottom: 5px;

        a {
            display: block;
            padding: 30px;
            color: white;
            font-size: 1.3em;
            text-align: center;
            text-transform: uppercase; }
        a .ico_video {
            display: inline-block;
            width: 30px;
            height: 20px;
            margin-left: 10px;
            background-image: url('../img/icons-se5c7da36c7.png');
            background-position: 0 -526px;
            background-repeat: no-repeat; }
    }


    .btn, .teaserGame .title button, .teaserGame .title button, .giftsCatalogue .btnContainer button, .giftsCatalogue .btnContainer button {
        display: block;
        font-size: 1.2em; }
        .gotToProfile {
        display: block;
        color: #1c1c1c;
        font-size: 0.7em;
        text-transform: uppercase;
        margin-bottom: 20px; }
    .gotToProfile:after {
        content: "";
        display: inline-block;
        width: 7px;
        height: 8px;
        margin-left: 5px;
        background-image: url('../img/icons-se5c7da36c7.png');
        background-position: 0 -238px;
        background-repeat: no-repeat; }
}


}



footer{
	width: 100%;
	background: #fff;

	.bottombar{
		height: 35px;
		top: 0;
		position: absolute;
        border-bottom: solid 2px #ccc;
        z-index: 2;

        em{
            font: normal 12px "bebas-neue", sans-serif;
            display: block;
            padding: 2px 0;
        }

        ul.nav {
            padding-left: 20px;
            float: left;
            padding-top: 1px;
            li{
                line-height: 12px;
            }
        }

        small{
            float: right;
            padding-top: 2px;
            padding-right: 20px;
        }
	}

	.warning{
        display: table;
        height: 100%;
        width: 100%;
        margin: 0 auto;
        position: relative;
        padding-top: 30px;
    }
    h1{
        padding: 0;
        font-size: 45px;
        display: table-cell;
        vertical-align: middle;
        font-weight: normal;
        font-family: Arial;
        span{
            display: block;
            color: #000;
        }
    }

    @media( max-width: 1200px)  {
        h1{
            font-size: 35px;
        }
    }

    @media( max-height: 700px)  {
        h1{
            font-size: 35px;
        }
    }


    @media( max-width: 992px)  {
        h1{
            font-size: 30px;
        }
    }

    @media( max-width: 767px)  {
        h1{
            font-size: 22px;
        }
    }


     @media( max-width: 560px)  {
        h1{
            font-size: 18px;
        }
    }

     @media( max-width: 460px)  {
        h1{
            font-size: 13px;
        }
    }
}


.homePage {
    z-index: 1;
}


/* mobile */

@media(max-width: 767px){

    header{
        height: 0px;
        width: 280px;
        right: 0;
        left: initial;

        .burger{
            position: absolute;
            top: 10px;
            right: 10px;
            width: 40px;
            height: 36px;
            z-index: 1;
            padding: 5px;
            cursor: pointer;
            -webkit-transition: all 800ms;
            -webkit-transition: all 800ms;
            transition: all 800ms;



            span{
                position: relative;
                top: 10px;
                display: block;
                height: 5px;
                background: #DB0828;

                &:before, &:after{
                    content: '';
                    position: relative;
                    top: -10px;
                    height: 5px;
                    display: block;
                    background: #DB0828;
                    -webkit-transition: all 300ms;
                    -webkit-transition: all 300ms;
                    transition: all 300ms;
                }

                &:after{
                    top: 5px;
                }
            }

            &.active{
                right: 280px;
                background: #fff;

                span{
                    background-color: transparent;

                    &:before,&:after{
                        height: 3px;
                        width: 27px;
                        left: 2px;
                    }
                    &:after{
                        transform: rotate(-45deg);
                        top: -1px;
                    }
                     &:before{
                        transform: rotate(45deg);
                        top: 2px;
                    }
                }
            }
        }
        .container{

            height: 100%;
            position: relative;
            float: none;
            overflow: hidden;
            overflow-y: auto;
            -webkit-transform: translate(130%,0);
            -moz-transform: translate(-130%,0);
            transform: translate(130%,0);
            -webkit-transition: transform 800ms;
            -moz-transition: transform 800ms;
            transition: transform 800ms;

            &.active{
                -webkit-transform: translate(0,0);
                -moz-transform: translate(0,0);
                transform: translate(0,0);
                z-index:2;
                position: relative;


            }

            .main-nav{
                width: 100%;
                padding: 80px 0 0;
                margin-right: 0;
                position: relative;

                & > span{
                    width: 100%;
                    height: 50px;
                    font-size: 1em;
                    padding: 0 20px;
                    border: none;
                    border-bottom: solid 1px #c1c1c1;
                    a{
                        text-align: left;
                    }

                    &.profile{
                        top: 0;
                        padding: 0px;
                        height: 80px;

                        ul{
                            height: 100%;
                            padding-top: 10px;

                            .addCode{
                                width: 60%;

                                .km{
                                    font-size: 2em;
                                }
                            }

                            .profileBtn{
                                width: 40%;
                            }
                        }
                    }
                }
            }

            .profile-dropdown{
                width: 100%;
                z-index: 3;
                top: 0;
                -webkit-transform: translate(100%,0);
                -moz-transform: translate(100%,0);
                transform: translate(100%,0);
                -webkit-transition: transform 800ms;
                -moz-transition: transform 800ms;
                transition: transform 800ms;
                right: 0;
                position: absolute;

                &.active{
                    -webkit-transform: translate(0,0);
                    -moz-transform: translate(0,0);
                    transform: translate(0,0);


                }

                .x-close{
                    display: none;
                    top: 10px;
                    right: initial;
                    left: -34px;
                    font-size: 4em;
                    height: 34px;
                    padding: 10px;
                    background: #fff;
                    opacity: 1;

                }
            }

            .brand{
                display: none;
            }
        }
    }
}


.lytebox-content{
    width: 100%;
    max-width: 830px;
    background: #EBEBEB;
    padding: 30px;
    color: #000;
    position: relative;

    .content{
        position: relative;
        word-wrap: break-work;
    }

    .scrollable{
        padding-right: 10px;
        margin-top: 20px;
        
    }

    .popup-close{
        background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
        font: 300 55px jura;
        height: 50px;
        position: absolute;
        right: -20px;
        top: -30px;
        z-index: 10;
        color: #000;

        &:hover{
            color: #000
        }
    }

    h1,h2,h3,h3,h5,h6{
        font-family: "Oswald",sans-serif !important;
        font-weight: 300;

    }

}

@media(max-width:767px){
    .lytebox-content{
        padding: 15px; 
    }
}

#error{
    span{
        border: solid 1px #f00;
        color: #fff;
        display: block;
        padding: 10px;
        color: #f00;
        text-align: left;
    }
}
.button, .button-small{
    color: #fff;
    background: #ec1d2d;
    border: 0;
    padding: 10px 50px;
    font-size: 20px;
    margin: 5px;

    &.disabled{
        background: #333;
        color: #888;
        cursor: default;
    }
}

.button-small{
    padding: 5px 10px;
    font-size: 14px;
}
input[type="text"],input[type="email"], input[type="password"], select{
    border: solid 1px #999;
    padding: 5px 10px;
    border-radius: 0;
    width: 100%;
    max-width: 300px;
    color: #000;
    margin: 0;
    display: inline-block;
}


/* refer a friend */
.box{
        max-width: 98%;
        position: relative;
        width: 500px;
        margin: 100px auto 200px;
        padding: 20px;
        border-bottom: solid 5px #c00;
        background: rgba(0, 0, 0, 0.7);
        color: #fff;
        text-align: center;

        h3{
            font-size: 30px;
            margin: 0;
        }

        p{
            margin: 8px 0 8px;
        }

        .input{
            margin: 5px 0;
        }

        .misc{
            font-size: 12px;
            margin: 20px auto 0;
            max-width: 400px;

            a{
                color: #ccc;
                text-decoration: underline;
            }
        }

        ul.referrals{
            margin: 10px 0 0;
            padding: 0 10px;
            list-style: none;

            li{
                padding: 5px 0;
                position: relative;

                .remove{
                    background: none;
                    border: none;
                    font-size: 25px;
                    padding: 0;
                    position: absolute;
                    right: -15px;
                    top: 3px;

                }
            }
            input{
                width: 44%;
                margin: 0;
            }
        }
        ul.referred{
            margin: 10px 0 0;
            list-style: none;
            text-align: left;
            li{
                width: 49%;
                display: inline-block;
                padding: 2px 0;
            }
        }

        @media(max-width: 767px){
             ul.referrals{
                input{
                    width: 100%;
                    margin: 1px 0;
                }
             }
              ul.referred{
                padding: 0;
                li{
                    width: 100%;
                    text-align: center;
                }
             }
        }
    }

    .edm{
        background-color: #fff;
        color: #000;
        margin: 0 0 20px;
        max-width: 500px;
        width: 100%;

        .header{

        }
    }


    .edm .header img, .edm .footer img{
        width: 100%;
        max-width: 100%;
    }

    .edm .copy{
        text-align: left;
        font: 11px Arial;
        padding: 0 10%;
    }



/*overrides*/

/*-home page */

@media(max-width: 767px){
    .homePage{
        #home_banner {
            h1{
                top: 70px;
                height: 80px;
                width: 100%;
                position: relative;
            }
            .intro{
                position: relative;
                top: 0px;
            }


            .imgLegend{
                position: relative;
                display: none;
            }
        }
        .linkTo{
            position: relative;
            display: none
        }

    }

    footer{
        .bottombar{
            padding: 1px 10px;

            em{
                margin: 0 auto;
                 font-size: 7px;
                 border-bottom: 0;
            }
            ul.nav{
                font-size: 9px;
                float: none;
                padding: 0px;
            }
            small{
                float: none;
                text-align: center;
                display: block;
                font-size: 7px;
            }
        }
    }

    .details.info{
        padding: 0;

        &:before{
            display: none;
        }

        .pageName{
            span{
                color:#fff;
            }
        }
        .line{
            padding: 0;
        }

        .picture{
            width: 100%;
            height: 300px;
            button span{
                top:50px;
                padding: 0;
                width: 100%;
                text-align: center;

                &.time{display: none;}
            }
        }

        .contentTxt{
            width: 100%;
            background: #DDE2E4;
            padding: 20px;

        }


        h3{
            font-size: 30px;
            width: 100%;
        }
    }

    // /*profilepage*/
    // .fullProfile{
    //     .fullProfile {
    //         .expandedContent{
    //             .col-6{
    //                 width: 100% !important;

    //                 & > div{
    //                     width: 100%;
    //                 }
    //             }
    //         }
    //     }
    // }
}


/* gifts */
#giftmodal{
    .picture{
        padding: 0;
        img{
            max-width: 100%;
            max-height: 100%;
        }
    }
    .contents {
        overflow: hidden;
        position: relative;
        padding: 0;
    }
    .gift-popup-slider{
        position: relative;
        width: 300%;
        left: 0;
        margin: 0 !important;

        &.confirm{
            transition:all 300ms;
            transform: translateX(-33.3333%);
        }
        &.complete{
            transition:all 300ms;
            transform: translateX(-66.6666%);
        }

        h4{
            font: 300 24px Oswald;
            text-transform: uppercase;
        }
    }

    .line{
        padding: 5px 0;
        label{
            width: 25%;
            line-height: 18px;
            font-size: 14px;
            padding: 9px;
        }
        input{
            width: 70%;
        }
    }
}

@media(767px){
    #giftmodal{
        .gift-popup-slider{
            padding: 0;
        }
    }
}
