/* PROFILE */
.fullProfile .topBanner {
  background: url("../img/profile_bg.jpg") top center no-repeat;
  padding: 1em 0 0;
  position: fixed;
  width: 100%;
  text-align: center;
  z-index: 5;
  max-height: 300px; 
}
  @media (min-width: 1681px) {
    .fullProfile .topBanner {
      background-size: auto 100%; } }
  @media (min-width: 1200px) {
    .fullProfile .topBanner {
      background-attachment: fixed; } }
  .fullProfile .topBanner .inner {
    position: relative;
    width: 580px;
    height: 230px;
    margin: 0 auto; }
  .fullProfile .topBanner .profileImg, .fullProfile .topBanner .collectedKm, .fullProfile .topBanner .creditKm {
    display: inline-block;
    width: 30%;
    box-sizing: border-box;
    vertical-align: middle;
    text-align: center; }
    .fullProfile .topBanner .profileImg strong, .fullProfile .topBanner .collectedKm strong, .fullProfile .topBanner .creditKm strong {
      font-size: 1.6em; }
  .fullProfile .topBanner .profileImg {
    position: relative; }
    .fullProfile .topBanner .profileImg a {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0; }
      .fullProfile .topBanner .profileImg a img {
        max-height: 100%;
        max-width: 100%;
        width: auto;
        height: auto; }
  .fullProfile .topBanner .collectedKm, .fullProfile .topBanner .creditKm {
    font-size: 1.5em;
    position: relative; }
    .fullProfile .topBanner .collectedKm span, .fullProfile .topBanner .creditKm span {
      color: #db0828;
      font-family: "bebas-neue", sans-serif;
      display: block;
      position: relative; }
    .fullProfile .topBanner .collectedKm p, .fullProfile .topBanner .creditKm p {
      text-transform: uppercase;
      font-family: "Oswald", sans-serif;
      font-size: 0.5em;
      font-weight: 300;
      color: white; }
  .fullProfile .topBanner .collectedKm {
    padding-right: 2.5em; }
    .fullProfile .topBanner .collectedKm:after {
      content: "";
      display: inline-block;
      width: 2.5em;
      height: 1px;
      border: 1px dotted white;
      position: absolute;
      right: 0;
      top: 17px; }
    .fullProfile .topBanner .collectedKm span {
      padding-right: 15px; }
      .fullProfile .topBanner .collectedKm span:after {
        content: "";
        display: inline-block;
        height: 10px;
        width: 10px;
        background-image: url('../img/icons-s93d154e336.png');
        background-position: 0 -318px;
        background-repeat: no-repeat;
        margin-left: 15px;
        position: absolute;
        right: 0;
        top: 13px; }
  .fullProfile .topBanner .creditKm {
    padding-left: 2.5em; }
    .fullProfile .topBanner .creditKm:before {
      content: "";
      display: inline-block;
      width: 2.5em;
      height: 1px;
      border: 1px dotted white;
      position: absolute;
      left: 0px;
      top: 17px; }
    .fullProfile .topBanner .creditKm span {
      padding-left: 15px; }
      .fullProfile .topBanner .creditKm span:before {
        content: "";
        display: inline-block;
        height: 10px;
        width: 10px;
        background-image: url('../img/icons-s93d154e336.png');
        background-position: 0 -318px;
        background-repeat: no-repeat;
        margin-right: 15px;
        position: absolute;
        left: 0;
        top: 13px; }
  .fullProfile .topBanner .profileImg {
    border-radius: 100%;
    overflow: hidden;
    cursor: pointer;
    -webkit-transition: all .2s ease-out;
            transition: all .2s ease-out;
    width: 160px;
    height: 160px; }
    .fullProfile .topBanner .profileImg img {
      max-width: 100%; }
  .fullProfile .topBanner .userName {
    display: block;
    width: 160px;
    text-align: center;
    color: white;
    position: absolute;
    top: 170px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    -webkit-transition: all .2s ease-out;
            transition: all .2s ease-out; }
    .fullProfile .topBanner .userName .name {
      font-family: "bebas-neue", sans-serif;
      font-size: 20px; }
    .fullProfile .topBanner .userName .place {
      font-size: 16px; }
  .fullProfile .topBanner.sticky {
    max-height: -webkit-calc(120px + 2em);
    max-height: calc(120px + 2em); }
    .fullProfile .topBanner.sticky .inner {
      height: -webkit-calc(65px + 1em);
      height: calc(65px + 1em); }
    .fullProfile .topBanner.sticky .userData {
      height: 65px; }
    .fullProfile .topBanner.sticky .collectedKm {
      opacity: 0;
      -webkit-transform: translate(-100%, -10%);
          -ms-transform: translate(-100%, -10%);
              transform: translate(-100%, -10%); }
    .fullProfile .topBanner.sticky .creditKm {
      opacity: 0;
      -webkit-transform: translate(100%, -10%);
          -ms-transform: translate(100%, -10%);
              transform: translate(100%, -10%); }
    .fullProfile .topBanner.sticky .profileImg {
      width: 65px;
      height: 65px;
      -webkit-transition: all .2s ease-out;
              transition: all .2s ease-out; }
      .fullProfile .topBanner.sticky .profileImg .withOutProfileImage:before {
        width: 13px;
        height: 14px;
        background-image: url('../img/icons-s93d154e336.png');
        background-position: 0 -518px;
        background-repeat: no-repeat; }
    .fullProfile .topBanner.sticky .userName {
      text-align: left;
      margin-left: 20px;
      vertical-align: top;
      -webkit-transform: translate(20%, -440%);
          -ms-transform: translate(20%, -440%);
              transform: translate(20%, -440%);
      -webkit-transition: all .2s ease-out;
              transition: all .2s ease-out; }
.fullProfile .profileNav li {
  display: inline-block;
  margin-left: -4px;
  position: relative;
  overflow: visible;
  vertical-align: bottom; }
  .fullProfile .profileNav li:first-child {
    border-left: 1px solid rgba(255, 255, 255, 0.1); }
  .fullProfile .profileNav li a {
    display: block;
    padding: 1.1em 3em;
    font-family: "Oswald", sans-serif;
    color: white;
    text-transform: uppercase;
    font-size: 0.85em;
    font-weight: 300;
    letter-spacing: .05em;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-right: 1px solid rgba(255, 255, 255, 0.1); }
    .fullProfile .profileNav li a.active {
      background-color: rgba(255, 255, 255, 0.2); }
  .fullProfile .profileNav li .profileNotifications {
    top: -11px;
    right: 10px;
    z-index: 5; }
  .fullProfile .profileNav li.btnRoadTrip a {
    padding: .94em 3em;
    background-color: rgba(28, 28, 28, 0.2); }
  .fullProfile .profileNav li.btnRoadTrip span {
    display: inline-block;
    height: 18px;
    width: 27px;
    margin-left: 8px;
    background-image: url('../img/icons-s93d154e336.png');
    background-position: 0 -228px;
    background-repeat: no-repeat;
    vertical-align: sub; }
.fullProfile .container {
  position: relative;
  top: -webkit-calc(285px + 1em);
  top: calc(285px + 1em);
  z-index: 0;
  padding: 25px;
  padding-bottom: -webkit-calc(10% + 180px);
  padding-bottom: calc(10% + 180px);
  padding-bottom: -webkit-calc(10vh + 180px);
  padding-bottom: calc(10vh + 180px); }
.fullProfile .sticky + .container {
  top: -webkit-calc(215px + 2em);
  top: calc(215px + 2em); }

@media (max-width: 767px) {
  .fullProfile .topBanner {
    position: relative;
    background-image: url("../img/mobile/profile/m_profile_bg.jpg"); }
    .fullProfile .topBanner .inner {
      width: 100%;
      height: auto; }
    .fullProfile .topBanner .userData {
      text-align: center; }
    .fullProfile .topBanner .profileImg, .fullProfile .topBanner .collectedKm, .fullProfile .topBanner .creditKm {
      width: 20%;
      height: auto;
      padding: 0; }
    .fullProfile .topBanner .collectedKm:after {
      display: none; }
    .fullProfile .topBanner .collectedKm span {
      padding: 0; }
      .fullProfile .topBanner .collectedKm span:after {
        display: none; }
    .fullProfile .topBanner .creditKm:before {
      display: none; }
    .fullProfile .topBanner .creditKm span {
      padding: 0; }
      .fullProfile .topBanner .creditKm span:before {
        display: none; }
  .fullProfile .profileNav {
    margin-top: 1em; }
    .fullProfile .profileNav li a {
      background-color: rgba(28, 28, 28, 0.2);
      padding: 1.5em 0.5em;
      min-width: 20%; }
      .fullProfile .profileNav li a:before {
        display: none; }
      .fullProfile .profileNav li a:hover, .fullProfile .profileNav li a.active {
        background-color: #db0828; }
  .fullProfile .container {
    top: 0;
    margin: 0;
    padding: 0 0 10% 0;
    padding: 0 0 10vh 0;
    width: 100%;
    overflow: hidden; } }
.fullProfile h1, .fullProfile h2 {
  font-family: "Oswald", sans-serif;
  font-weight: 300;
  text-transform: uppercase; }
  .fullProfile h1 b, .fullProfile h2 b {
    font-family: "bebas-neue", sans-serif;
    font-size: 1.2em;
    font-weight: normal; }
.fullProfile h1 {
  margin-bottom: .8em; }
  .fullProfile h1 + p {
    font-size: 1.25em; }
.fullProfile .row {
  margin: 0; }
@media (max-width: 767px) {
  .fullProfile .mainProfileContent {
    padding: 0; } }
.fullProfile .sideBar {
  margin-top: 3em;
  float: right; }
  @media (max-width: 992px) {
    .fullProfile .sideBar {
      margin-top: 0; } }
.fullProfile .inputAddCode a {
  font-family: "Oswald", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  color: #1c1c1c;
  font-size: .8em;
  display: block;
  margin-top: .8em; }
  .fullProfile .inputAddCode a span {
    text-decoration: underline;
    line-height: 1.2em;
    margin-right: 7px; }
  .fullProfile .inputAddCode a b {
    font-family: "bebas-neue", sans-serif;
    font-size: 1.2em;
    font-weight: normal; }
.fullProfile .ico_tooltip {
  display: inline-block;
  height: 12px;
  width: 12px;
  text-decoration: none; }
  .fullProfile .ico_tooltip.question {
    background-image: url('../img/icons-s93d154e336.png');
    background-position: 0 -2036px;
    background-repeat: no-repeat; }
  .fullProfile .ico_tooltip.info {
    height: 10px;
    width: 10px;
    background-image: url('../img/icons-s93d154e336.png');
    background-position: 0 -2020px;
    background-repeat: no-repeat;
    position: absolute;
    top: -2px;
    left: auto;
    margin-left: 5px; }
.fullProfile .profile .listLink {
  margin: 25px 0; }
  .fullProfile .profile .listLink li {
    border-top: 1px solid #cccccc;
    padding: 1em 0; }
    .fullProfile .profile .listLink li:first-child {
      border-top: 0 none; }
  .fullProfile .profile .listLink a {
    display: block;
    position: relative; }
    .fullProfile .profile .listLink a:after {
      float: right; }
    .fullProfile .profile .listLink a b {
      font-family: "bebas-neue", sans-serif;
      font-size: 1.2em;
      font-weight: normal; }
.fullProfile .ico {
  display: inline-block;
  width: 21px;
  height: 18px;
  margin-right: 7px; }
  .fullProfile .ico.inviteFriend {
    background-image: url('../img/icons-s93d154e336.png');
    background-position: 0 -604px;
    background-repeat: no-repeat; }
  .fullProfile .ico.agenda {
    background-image: url('../img/icons-s93d154e336.png');
    background-position: 0 -556px;
    background-repeat: no-repeat; }
.fullProfile .history ul {
  margin: 1.25em 0 1em; }
.fullProfile .history li {
  display: block;
  padding: 1em 0;
  border-top: 1px solid #cccccc;
  font-family: "Oswald", sans-serif;
  font-weight: 300;
  text-transform: uppercase; }
  .fullProfile .history li b {
    float: right;
    color: #db0828;
    text-decoration: underline; }
.fullProfile .history strong {
  font-family: "bebas-neue", sans-serif;
  font-size: 1.2em;
  font-weight: normal; }
@media (max-width: 992px) {
  .fullProfile .col-sm-6:first-child {
    padding-left: 0; } }

.fullProfile .expandedContent {
  margin: 3em 0; }
  .fullProfile .expandedContent .checked,
  .fullProfile .expandedContent .locked {
    margin-left: 1em;
    padding: 0 0 0 2em;
    position: relative;
    border-left: 1px dotted #cccccc; }
    .fullProfile .expandedContent .checked:before,
    .fullProfile .expandedContent .locked:before {
      content: "";
      width: 40px;
      height: 38px;
      position: absolute;
      top: -webkit-calc(17px + 2em);
      top: calc(17px + 2em);
      left: -20px;
      border: 8px solid #ebebeb;
      border-radius: 100%; }
    .fullProfile .expandedContent .checked:after,
    .fullProfile .expandedContent .locked:after {
      content: "";
      display: block;
      width: 100%;
      height: 1px;
      background: #cccccc; }
    .fullProfile .expandedContent .checked:first-child .summary,
    .fullProfile .expandedContent .locked:first-child .summary {
      padding-top: 0; }
    .fullProfile .expandedContent .checked:first-child:before,
    .fullProfile .expandedContent .locked:first-child:before {
      top: 17px; }
  .fullProfile .expandedContent .locked .illu, .fullProfile .expandedContent .locked .expDetail, .fullProfile .expandedContent .locked .kmDetail {
    opacity: .2; }
  .fullProfile .expandedContent .checked:before {
    background-image: url('../img/icons-s93d154e336.png');
    background-position: 0 -1501px;
    background-repeat: no-repeat; }
  .fullProfile .expandedContent .locked:before {
    background-image: url('../img/icons-s93d154e336.png');
    background-position: 0 -1476px;
    background-repeat: no-repeat; }
  .fullProfile .expandedContent .summary {
    overflow: hidden;
    padding: 2em 0; }
  .fullProfile .expandedContent .col-6 {
    display: inline-block;
    margin-left: -4px;
    width: 50%; }
    .fullProfile .expandedContent .col-6:first-child {
      border-right: 1px solid #cccccc; }
  .fullProfile .expandedContent .illu {
    display: inline-block; }
    .fullProfile .expandedContent .illu img {
      max-height: 70px; }
  .fullProfile .expandedContent .expDetail {
    display: inline-block;
    padding-left: 1em; }
  .fullProfile .expandedContent .icon {
    display: block;
    width: 32px;
    height: 18px;
    margin-left: 0;
    position: relative; }
    .fullProfile .expandedContent .icon.bicycle {
      background-image: url('../img/icons-s93d154e336.png');
      background-position: 0 -1972px;
      background-repeat: no-repeat; }
  .fullProfile .expandedContent h4 {
    color: #db0828;
    font-size: 1.5em;
    font-family: "Oswald", sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    line-height: 1.2em; }
  .fullProfile .expandedContent .location {
    font-family: "bebas-neue", sans-serif;
    font-size: .9em;
    color: #1c1c1c; }
  .fullProfile .expandedContent .kmDetail {
    padding-left: 1.5em;
    display: inline-block;
    margin-left: -4px;
    width: 50%; }
    .fullProfile .expandedContent .kmDetail span {
      display: block;
      font-family: "bebas-neue", sans-serif;
      color: #db0828;
      font-size: 1.5em; }
      .fullProfile .expandedContent .kmDetail span strong {
        font-size: 1.5em; }
    .fullProfile .expandedContent .kmDetail p {
      font-family: "bebas-neue", sans-serif;
      font-size: .9em;
      text-transform: uppercase; }
      @media (max-height: 769px) {
        .fullProfile .expandedContent .kmDetail p {
          font-size: 0.8em; } }
  .fullProfile .expandedContent .btnContainer {
    display: inline-block;
    margin-left: -4px;
    width: 50%;
    position: absolute;
    right: 0; }
    .fullProfile .expandedContent .btnContainer button {
      float: right;
      border: 1px solid #db0828;
      background-color: transparent;
      overflow: hidden;
      padding: 0;
      height: -webkit-calc(16px + 1em);
      height: calc(16px + 1em);
      -webkit-transition: all .4s ease-out;
              transition: all .4s ease-out; }
      .fullProfile .expandedContent .btnContainer button span {
        display: block;
        padding: .5em 1.5em;
        font-family: "Oswald", sans-serif;
        font-weight: 300;
        text-transform: uppercase;
        color: #db0828;
        -webkit-transition: all .4s ease-out;
                transition: all .4s ease-out; }
        .fullProfile .expandedContent .btnContainer button span:after {
          content: "";
          display: inline-block;
          width: 10px;
          height: 12px;
          margin-left: 7px;
          background-image: url('../img/icons-s93d154e336.png');
          background-position: 0 -933px;
          background-repeat: no-repeat; }
        .fullProfile .expandedContent .btnContainer button span.openDetails {
          -webkit-transform: none;
              -ms-transform: none;
                  transform: none;
          -webkit-transition: all .4s ease-out;
                  transition: all .4s ease-out; }
        .fullProfile .expandedContent .btnContainer button span.closeDetails {
          color: #1c1c1c;
          -webkit-transform: translateY(100%);
              -ms-transform: translateY(100%);
                  transform: translateY(100%);
          -webkit-transition: all .4s ease-out;
                  transition: all .4s ease-out; }
          .fullProfile .expandedContent .btnContainer button span.closeDetails:after {
            background-image: url('../img/icons-s93d154e336.png');
            background-position: -0px -951px;
            background-repeat: no-repeat; }
      .fullProfile .expandedContent .btnContainer button.hideDetails {
        border-color: rgba(28, 28, 28, 0.6);
        -webkit-transition: all .4s ease-out;
                transition: all .4s ease-out; }
        .fullProfile .expandedContent .btnContainer button.hideDetails span.openDetails {
          -webkit-transform: translateY(-100%);
              -ms-transform: translateY(-100%);
                  transform: translateY(-100%);
          -webkit-transition: all .4s ease-out;
                  transition: all .4s ease-out; }
        .fullProfile .expandedContent .btnContainer button.hideDetails span.closeDetails {
          -webkit-transform: translateY(-100%);
              -ms-transform: translateY(-100%);
                  transform: translateY(-100%);
          -webkit-transition: all .4s ease-out;
                  transition: all .4s ease-out; }
    .fullProfile .expandedContent .btnContainer a {
      float: right;
      /*background-color: #db0828;*/
      bakground: none;
      border: 1px solid #db0828;
      padding: .5em 1.5em;
      font-family: "Oswald", sans-serif;
      font-weight: 300;
      text-transform: uppercase;
      /*color: white;*/
      color: #db0828; }
      .fullProfile .expandedContent .btnContainer a:after {
        content: "";
        display: inline-block;
        /*width: 10px;*/
        height: 12px;
        /*margin-left: 7px;*/
        /*background-image: url('../img/icons-s93d154e336.png');*/
        background-position: 0 -936px;
        background-repeat: no-repeat; }
  .fullProfile .expandedContent .details {
    display: none;
    padding-bottom: .5em; }
    .fullProfile .expandedContent .details p {
      padding: 1.5em 0;
      font-family: "bebas-neue", sans-serif;
      border-top: 1px dotted rgba(219, 8, 40, 0.7); }
      .fullProfile .expandedContent .details p:first-child {
        border-top: 0 none; }
    .fullProfile .expandedContent .details span {
      color: #1c1c1c; }
    .fullProfile .expandedContent .details a {
      text-decoration: underline; }
    .fullProfile .expandedContent .details .kmWon {
      float: right;
      color: #db0828; }
.fullProfile .prizes .illu {
  border: 1px solid #cccccc;
  background-color: white;
  margin-left: 4px; }
  .fullProfile .prizes .illu img {
    max-width: 70px;
    max-height: 100%;
    text-align: center; }
.fullProfile .prizes .details p {
  font-family: "Lato", sans-serif; }
.fullProfile .prizes .btn, .fullProfile .prizes .fileUpload, .fullProfile .prizes .teaserGame .title button, .teaserGame .title .fullProfile .prizes button, .fullProfile .prizes .giftsCatalogue .btnContainer button, .giftsCatalogue .btnContainer .fullProfile .prizes button, .fullProfile .prizes .invitation button, .invitation .fullProfile .prizes button {
  margin-bottom: 1em; }

@media (max-width: 767px) {
  .fullProfile .expandedContent {
    margin: 0; }
    .fullProfile .expandedContent .checked,
    .fullProfile .expandedContent .locked {
      margin: 0;
      padding: 0;
      border: 0 none; }
      .fullProfile .expandedContent .checked:first-child,
      .fullProfile .expandedContent .locked:first-child {
        border: 0 none; }
        .fullProfile .expandedContent .checked:first-child:before,
        .fullProfile .expandedContent .locked:first-child:before {
          top: 1.5em; }
      .fullProfile .expandedContent .checked:before,
      .fullProfile .expandedContent .locked:before {
        content: "";
        width: 35px;
        height: 32px;
        position: absolute;
        top: 1.5em;
        left: .5em;
        border: 0 none;
        border-radius: 0;
        z-index: 10; }
      .fullProfile .expandedContent .checked:after,
      .fullProfile .expandedContent .locked:after {
        display: none; }
    .fullProfile .expandedContent .checked {
      background-color: white; }
      .fullProfile .expandedContent .checked:before {
        background-image: url('../img/icons-s93d154e336.png');
        background-position: 0 -862px;
        background-repeat: no-repeat; }
    .fullProfile .expandedContent .locked:before {
      background-image: url('../img/icons-s93d154e336.png');
      background-position: 0 -824px;
      background-repeat: no-repeat; }
    .fullProfile .expandedContent .locked .col-6:first-child:before {
      border-color: transparent #ebebeb transparent transparent;
      z-index: 10; }
    .fullProfile .expandedContent .locked .illu, .fullProfile .expandedContent .locked .expDetail, .fullProfile .expandedContent .locked .kmDetail {
      opacity: 1; }
    .fullProfile .expandedContent .locked .illu:before {
      content: "";
      display: block;
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 5;
      opacity: 0.6;
      background-color: #1c1c1c; }
    .fullProfile .expandedContent .summary {
      padding: 0; }
    .fullProfile .expandedContent .col-6 {
      padding: 1em 1.5em;
      vertical-align: bottom;
      position: relative;
      float: none;
      vertical-align: middle; }
      .fullProfile .expandedContent .col-6:first-child {
        border: 0 none;
        padding: 0; }
        .fullProfile .expandedContent .col-6:first-child:before {
          content: "";
          display: block;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 1.2em 1.4em 1.2em 0;
          border-color: transparent white transparent transparent;
          position: absolute;
          right: 0;
          top: 50%;
          -webkit-transform: translateY(-50%);
              -ms-transform: translateY(-50%);
                  transform: translateY(-50%); }
    .fullProfile .expandedContent .illu img {
      max-width: 100%;
      max-height: 100%;
      height: auto;
      vertical-align: bottom; }
    .fullProfile .expandedContent .expDetail,
    .fullProfile .expandedContent .kmDetail,
    .fullProfile .expandedContent .btnContainer {
      width: 100%;
      display: block;
      padding-left: 0;
      margin-left: 0; }
    .fullProfile .expandedContent .expDetail {
      padding-bottom: 1em;
      border-bottom: 1px solid #cccccc; }
      .fullProfile .expandedContent .expDetail h4 {
        font-family: "bebas-neue", sans-serif;
        font-size: 1.5em; }
      .fullProfile .expandedContent .expDetail span {
        font-size: 1em; }
    .fullProfile .expandedContent .kmDetail {
      padding: .8em 0 1em; }
      .fullProfile .expandedContent .kmDetail p {
        font-size: 1em; }
    .fullProfile .expandedContent .btnContainer {
      position: relative;
      right: auto; }
      .fullProfile .expandedContent .btnContainer button,
      .fullProfile .expandedContent .btnContainer a {
        float: none; }
    .fullProfile .expandedContent .details {
      padding: 0 1.5em; }
      .fullProfile .expandedContent .details p {
        border-top: 1px solid #cccccc; }
  .fullProfile .prizes .checked {
    background: transparent;
    border-bottom: 1px solid #cccccc; }
    .fullProfile .prizes .checked:first-child {
      border-bottom: 1px solid #cccccc; }
      .fullProfile .prizes .checked:first-child:before {
        top: 4px; }
    .fullProfile .prizes .checked:before {
      top: 4px;
      background-image: url('../img/icons-s93d154e336.png');
      background-position: 0 -348px;
      background-repeat: no-repeat; }
  .fullProfile .prizes .col-6:first-child:before {
    border-color: transparent #ebebeb transparent transparent; }
  .fullProfile .prizes .illu {
    border: 0 none; }
    .fullProfile .prizes .illu img {
      margin: 3.2em 0; }
  .fullProfile .prizes .btnCentered {
    text-align: center; }
    .fullProfile .prizes .btnCentered a {
      margin: 2em auto 1em; } }
@media (max-width: 992px) {
  .invitation {
    margin-bottom: 3em; } }
.invitation h1:before {
  content: "";
  display: inline-block;
  width: 49px;
  height: 39px;
  background-image: url('../img/icons-s93d154e336.png');
  background-position: 0 -628px;
  background-repeat: no-repeat;
  margin-right: 0.45em; }
.invitation .invitationLeft {
  font-size: 1.25em;
  margin: 1.25em 0; }
  .invitation .invitationLeft span {
    color: #db0828; }
  .invitation .invitationLeft p {
    display: inline-block; }
.invitation .sendStatut {
  font-size: 1.25em;
  display: none; }
  .invitation .sendStatut.visible {
    display: block; }
  .invitation .sendStatut p:before {
    content: "";
    display: inline-block;
    width: 24px;
    height: 22px;
    margin-right: .5em;
    background-image: url('../img/icons-s93d154e336.png');
    background-position: 0 -1504px;
    background-repeat: no-repeat; }
.invitation form {
  margin: 2em 0; }
.invitation input, .invitation textarea {
  width: 100%;
  margin-bottom: .3em; }
.invitation button {
  display: block;
  margin-top: 1em;
  width: 100%; }

@media (max-width: 767px) {
  .invitation {
    width: 90%;
    margin: 0 auto; }
    .invitation h1 {
      padding-top: 20px; } }
.fullProfile {
  background-color: #ebebeb; }
  .fullProfile .topBanner {
    width: 1024px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    top: 80px;
    background-attachment: initial; }
    @media (max-width: 992px) {
      .fullProfile .topBanner {
        width: 100%; } }
  .fullProfile .container {
    width: 100%;
    background-color: #ebebeb;
    top: -webkit-calc(200px + 1em);
    top: calc(200px + 1em);
    padding-top: 35px 25px 15%; }
  .fullProfile .sticky + .container {
    top: -webkit-calc(180px + 2em);
    top: calc(205px + 2em); }
  .fullProfile .details {
    padding-top: 0; }
    .fullProfile .details:before {
      display: none; }

@media (max-width: 767px) {
  .fullProfile .topBanner {
    width: 100%;
    top: 0px;
    background-attachment: initial; }
  .fullProfile .container {
    width: 100%;
    top: 0;
    padding: 0 0 15vh 0; } }


.hoverLine:before, header .secondNav li:before, .calendar .eventTabs li:before, header .nav li:before, .fullProfile .profileNav li a:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  top: 0;
  background: #db0828;
  height: 4px;
  -webkit-transform: translateY(-4px);
  -ms-transform: translateY(-4px);
  transform: translateY(-4px);
  -webkit-transition-property: -webkit-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  visibility: hidden;
}
.fullProfile .profileNav li a.active:before {
  visibility: visible;
}

.fullProfile .profileNav li:hover a:before{
  visibility: visible;
}