<!-- EXPLORE YOUR CHOICE -->
<section class="section details info">
	<div class="pageName text">
		<a href="#act_360">
			<span data-i18n="activities.explore.pageNameLeft"></span>
			<span class="icon"></span>
			<span data-i18n="california.exp3.actB.name"></span>
		</a>
	</div>
	
	<div class="line">
		<div class="picture">
			<!-- button to call a video -->
			<button style="background-image:url(img/_california/exp3/actB/explore1.jpg)" data-video="_california/exp3/actB/interview">
				<span data-i18n="[html]activities.explore.video"></span>
				<span class="time" data-i18n="california.exp3.actB.explorations.0.videoTime"></span>
			</button>
		</div>
		<div class="contentTxt">
			<h3 data-i18n="[html]california.exp3.actB.explorations.0.title"></h3>
			<p class="subtitle" data-i18n="[html]california.exp3.actB.explorations.0.introCopy"></p>
			<div data-i18n="[html]california.exp3.actB.explorations.0.bodyCopy"></div>
		</div>
	</div>

	<div class="line">						
		<div class="contentTxt">
			<h3 data-i18n="[html]california.exp3.actB.explorations.1.title"></h3>
			<p class="subtitle" data-i18n="[html]california.exp3.actB.explorations.1.introCopy"></p>
			<div data-i18n="[html]california.exp3.actB.explorations.1.bodyCopy"></div>
		</div>
		<div class="picture" style="background-image:url(img/_california/exp3/actB/explore1.jpg)"></div>
	</div>

	<div class="line">
		<div class="picture" style="background-image:url(img/_california/exp3/actB/explore1.jpg)"></div>
		<div class="contentTxt">
			<h3 data-i18n="[html]california.exp3.actB.explorations.2.title"></h3>
			<p class="subtitle" data-i18n="[html]california.exp3.actB.explorations.2.introCopy"></p>
			<div data-i18n="[html]california.exp3.actB.explorations.2.bodyCopy"></div>
		</div>
	</div>

</section>